.input-wrapper {
  width: 80%;
  text-align: center;
  margin: 20px 0;
}

input[type="text"] {
  font-size: 20px;
  padding: 6px 10px;
  width: 35%;
}

.errSpan {
  position: absolute;
  font-size: 0.8rem;
  width: 108px;
}
